
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Hello and Welcome to Hot Potatoe..!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum dignissim velit pretium hendrerit. Integer consectetur vulputate quam et gravida. Vestibulum facilisis velit porta, congue elit sit amet, viverra dui. Quisque ut pharetra urna, a tempor odio. Praesent rhoncus ex quam, a varius quam congue et. Aliquam erat volutpat. Nulla facilisi. Aliquam erat volutpat. Etiam sollicitudin, quam at porttitor vestibulum, justo ante auctor nisl, vitae aliquet justo purus ac velit. Fusce quam neque, dapibus quis erat ac, feugiat feugiat tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    <%= link_to 'I have food', new_leftover_path, :class=>"btn btn-primary" %> 
    <%= link_to 'New Consumption', consumptions_path, :class=>"btn btn-primary"  %>
  </div>
</div>

