<div class="body-content">
<div class="col-sm-8 col-sm-offset-2 content-text">
<h1 class="center"> Share, don't waste. </h1>
<!-- <p>Save food and spread love: Spread the love - share the app with your friends<br>
Score free food from you neighbourhood <br>
Have some “good” food leftover? share them<br>
Why sleep hungry tonight? look for freebies in your own suburb<br>
Don’t waste food. There is someone else sleeping hungry tonight<br>
Share you dinner/ lunch or breakie!</p>
</div> -->
<h4> Bought too much? Have left over food? We believe you could share it instead of throwing it in the bin.</h4>
<ul >
<li>4,000,000 tonnes of food each year is wasted in Australia. Thats $8 billion.</li>
<li>&gt;20% of fruits and vegetables are rejected</li>
<li>Best-before is different to use-by</li>
</ul>

<div class="row demo-tiles" >
	<div class="col-xs-6">
		<div class="tile">
			<%= image_tag "green-shopping-bag-pv.png", :alt => "Share Food", :class => "tile-image" %>
			<%= link_to 'I have some food to share', new_leftover_path, :class=>"btn btn-primary btn-large btn-block" %> 
		</div>
	</div>
	<div class="col-xs-6">
		<div class="tile">
			<%= image_tag "glass-icon-food-beverage-knife-fork3.png", :alt => "Share Food", :class => "tile-image" %>
			<%= link_to "I'd like some food please", homepage_search_path, :class=>"btn btn-primary btn-large btn-block" %> 
		</div>
	</div>

</div>
 </div>
 </div>