
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Hello and Welcome to Hot Potatoe..!</h3>
    <p>Save food and spread love:
Spread the love - share the app with your friends
Score free food from you neighbourhood 
Have some “good” food leftover? share them
Why sleep hungry tonight? look for freebies in your own suburb
Don’t waste food. There is someone else sleeping hungry tonight
Share you dinner/ lunch or breakie!</p>

    <%= link_to 'I have food', new_leftover_path, :class=>"btn btn-primary" %> 
    <%= link_to 'New Consumption', consumptions_path, :class=>"btn btn-primary"  %>
  </div>
</div>

