/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html:after {
  background: rgba(0,0,0,0.1);
}
body{
	background: none;
	h1 {
		text-align: justify;
	}
}
.profile-info{
	width: 203px;
	padding-top: 25%;
}
.profile-image{
	border-radius: 30px;
    width: 50px;
    display: inline-block;
    float: left;
    overflow: hidden
}
.profile-name{
	font-weight: bold;
	color: #000;
	float: left;
	padding: 15px 0 0 5px;
}
.body-content{
	margin-top: 6%;
}
.height40{
	min-height: 40%;
}
.center {
  text-align: center; }

.left {
  text-align: left; }

ul {
  text-align: left; }

.brand {
  text-align: center;
  margin: 0;
  padding: 0; }

.brand h1 {
  margin: 0 0 40px 0; }

.nearby-food {
  margin-top: 2em;
  background-color: #fff;
  text-align: left; }

.nearby-food h6 {
  margin: 0; }

.button-holder {
  text-align: right; }

.tile-image {
  background-image: url("/media/bananas.png");
  background-size: cover;
  width: 160px;
  height: 120px;
  position: relative;
  display: inline-block;
  margin: 1em 1em; }

.tile-image div-yes {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2em;
  color: #16A085; }

.tile-image div-no {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2em;
  color: #C0392B; }

h1, .h1 {
    font-size: 61px;
}

h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
h4, .h4 {
    font-size: 29px;
}

h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

ul {
    text-align: left;
}

ul, ol {
    margin-bottom: 15px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.tile {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(239, 240, 242);
    padding: 14px;
    border-radius: 6px;
}
.btn-block {
    white-space: normal;
}
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 188, 156);
}
.btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 10px 15px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-radius: 4px;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.content-text{
	    background: rgba(220,215,215,.4);
    border-radius: 6px;
}
.content{
	background: rgba(220,215,215,.4);
    border-radius: 6px;
    border: 0px;
    padding:25px;
}
.MarginTop10Px {
	margin-top:10px;
}